---
name: Kubespace
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  nsa-security-check:
    runs-on: ubuntu-latest
  
    steps:
     - name: Checkout
       uses: actions/checkout@v4
     - name: Install Kubespace
       run: curl -s
         https://raw.githubusercontent.com/armosec/kubespace/master/install.sh | /bin/bash
         
     - name: Scan YAML files
       run: kubespace scan framework nsa *.yml
